# Default ignored files
/artifacts/
/shelf/
/inspectionProfiles/
/runConfigurations/
/AndroidProjectSystem.xml
/androidTestResultsUserPreferences.xml
/deploymentTargetSelector.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/runConfigurations.xml
/studiobot.xml
/vcs.xml
/workspace.xml
